<h1>All Comedians</h1>
<% @comedians.each do |comedian| %>
<ul>
  <li><%= comedian.name%></li>
  <li><%= comedian.age%></li>
  <li id='specials-count-<%= comedian.id %>'>Number of Specials: <%= comedian.specials.length %></li>
  <% comedian.specials.each do |special| %>
  <li><%= special.name %></li>
  <% end %>
</ul>
<% end %>
<h1>Average Age of All Comedians</h1>
  <p id='average-age'><%= @comedians.average_age %></p>
